<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Base HTML</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    
    <body>     
        <script type="text/javascript" src="static/d3/d3.min.js"></script>
        <script type="text/javascript" src="static/js/d3-geo.min.js"></script>
        <script src="static/js/queue.v1.min.js"></script>
        <script src="static/js/topojson.v1.min.js"></script>
        <script type="text/javascript"></script>  
    <button type="button" id="make-json">See JSON</button>
        <script> 
        // testing ajax request from flask jsonify

    function confirmJSON() {
    
        $.get("/district-pop-info.json", function (results) {
            console.log(results)
        })
    }

        $("#make-json").on("click", confirmJSON);

        </script>

    </body>

</html>