<!DOCTYPE html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <style>

      path {
        stroke-linejoin: round;
        stroke-linecap: round;
      }

      svg {
        display: block;
        margin-left: auto;
        margin-right: 45%;
      }

      .background {
        fill: none;
        pointer-events: all;
      }

      .districts {
        fill: #bbb;
      }

      .districts :hover {
        fill: #e11a88;
      }

      .district-boundaries {
        pointer-events: none;
        fill: none;
        stroke: #fff;
        stroke-width: .5px;
      }

      .state-boundaries {
        pointer-events: none;
        fill: none;
        stroke: #fff;
        stroke-width: 1.25px;
      }

      #graph-container {
        float: right;
        margin-top: 110px;
        margin-right: 20px;
        padding: 10px;
      }

      #option {
        float: left;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }


    </style>

</head>

  <body>

      <!-- Links to my static files -->
      <script type="static/js/d3-map.js"></script>

      <!-- JQuery -->
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <!-- d3.js -->
      <script type="text/javascript" src="static/d3/d3.min.js"></script>
      <script src="static/js/queue.v1.min.js"></script>
      <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
      <script type="text/javascript" src="static/js/d3-geo.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
      <!-- Chart.js -->
      <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    

    <div id="slider">
      <p id="currentYear">2015</p>
      <input id="year" type="range" value="2015" min="2014" max="2015">
    </div>

    <script type="text/javascript">

      $("#year").on("change", function () {
          $("#currentYear").html($("#year").val());
      });

    </script>

    <!-- input form for zipcode lookup add button -->
    <div id="zipcode-search">
      Find District by Zipcode: 
      <input id="zipcode-entry" type="text" name="zipcode-entry">
      <button id="zipcode-submit" type="submit">Go!</button>
      <input id="view-zip-compare" type="checkbox">Just see my zipcode charts.
    </div>
    <br>

    <!-- canvas for chart with top/bottom 5 % female employees -->
    <div id="graph-container">
    <canvas id="district-rank" width="550" height="500"></canvas>
    </div>

    <!-- <div> containing buttons to update map data. -->
      <input type="radio" name="empType" id="allEmp">All Employees (% Women)
      <input type="radio" name="empType" id="manager" checked="checked">Managers (% Women)
      <input type="radio" name="empType" id="bottomFiveEmp">Lowest 5 % Employees Women
      <input type="radio" name="empType" id="bottomFiveManager">Lowest 5 % Managers Women
    <br><br>
    


    <!-- BEGIN JS -->
    <script type="text/javascript">

      function ZipcodeLookup(results) {

        // clear current chart
        $("#district-rank").remove();        
        // assign id for new chart.
        $("#graph-container").append("<canvas id='district-rank' width=450, height=500</canvas>");

        var ctx = $("#district-rank");
                
        if ( empOn || bottomEmpOn ) {
            var data = {
              labels: ["District No. " + results.lookup_dist + " (All)",
                        results.lookup_state, 
                        'U.S.'],
              datasets: [
              {
                data: [results.lookup_percent, results.state_emp_avg, results.us_emp_avg],
                backgroundColor: ['#c6dbef','#6baed6','#08306b']

              }]
            };
        }

        else {
            var data = {
              labels: ["District No. " + results.lookup_dist + " (Managers)",
                        results.lookup_state, 
                        'U.S.'],
              datasets: [
              {
                data: [results.manager_lookup_percent, results.state_manager_avg, results.us_manager_avg],
                backgroundColor: ['#c6dbef','#6baed6','#08306b']

              }]
            };
        }

        var stateUSCompare = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              responsive: false,
              title: {
                  display: true,
                  text: 'District vs State & US Average'
                }}});

      }; // end function


      function getDistrictId(evt) {
          evt.preventDefault();
          var yearValue = $("#year").val();
          var zipcode = $("#zipcode-entry").val();
          $.get("/zipcode-lookup.json?year="+yearValue, { "zipcode-entry":zipcode }, ZipcodeLookup);
      };

      $("#zipcode-submit").on("click", getDistrictId);

    </script>

    <!-- begin d3 visualization -->
    <script type="text/javascript">

        // map
        var width = 960,
            height = 700,
            centered;

        var projection = d3.geoAlbersUsa()
          .scale(1280)
          .translate([width / 2, height / 2]);

        var path = d3.geoPath()
          .projection(projection);
        
        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        svg.append("rect")
            .attr("class", "background")
            .attr("width", width)
            .attr("height", height)
            .on("click", clicked);

        var map_g = svg.append("g")
            .attr("id", "map");


        // make threshold bar key
        var formatPercent = d3.format(".0%"),
            formatNumber = d3.format(".0f");

        var x = d3.scaleLinear()
            .domain([.1, .7])
            .range([0, 300]);

        var threshold = d3.scaleThreshold()
            .domain([0.20, 0.30, 0.40, 0.50, 0.60])
            .range(['#eff3ff','#c6dbef','#9ecae1','#6baed6','#3182bd','#08519c']);

        var key_g = svg.append("g")
            .attr("id", "key")
            .attr("transform", "translate(600, 15)");

        key_g.selectAll("rect")
          .data(threshold.range().map(function(color) {
            var d = threshold.invertExtent(color);
            if (d[0] == null) d[0] = x.domain()[0];
            if (d[1] == null) d[1] = x.domain()[1];
            return d;
          }))
          .enter().append("rect")
            .attr("height", 8)
            .attr("x", function(d) { return x(d[0]); })
            .attr("width", function(d) { return x(d[1]) - x(d[0]); })
            .attr("fill", function(d) { return threshold(d[0]); });

        key_g.append("text")
            .attr("class", "caption")
            .attr("x", x.range()[0])
            .attr("y", -6)
            .attr("fill", "#000")
            .attr("font-weight", "bold")
            .attr("text-anchor", "start")
            .text("% Women");

        key_g.call(d3.axisBottom(x)
              .tickSize(13)
              .tickFormat(function(x, i) { return x*100 + "%"; })
              .tickValues(threshold.domain()))
            .select(".domain")
              .remove();

    // minimum & maximum population values (default)
    var minimum = 0.28,
        maximum = 0.62;

    var color = d3.scaleLinear().domain([0.20, 0.30, 0.40, 0.50, 0.60])
                .range(['#eff3ff','#c6dbef','#9ecae1','#6baed6','#3182bd','#08519c']);
                // .range(['#eff3ff','#bdd7e7','#6baed6','#3182bd','#08519c']);
                // .range(['#edf8e9','#c7e9c0','#7bccc4','#74c476','#41ab5d','#238b45','#005a32']);
                // .range(['#c7e9c0','#a1d99b','#74c476','#41ab5d','#238b45','#005a32']);   


    
    // zoom function
    function clicked(d) {
        var x, y, k;

        if (d && centered !== d) {
          var centroid = path.centroid(d);
          x = centroid[0];
          y = centroid[1];
          k = 4;
          centered = d;
        } else {
          x = width / 2;
          y = height / 2;
          k = 1;
          centered = null;
        }

        map_g.selectAll("path")
            .classed("active", centered && function(d) { return d === centered; });

        map_g.transition()
            .duration(750)
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
            .style("stroke-width", 1.5 / k + "px");
    } 


    // load data
    queue()
        .defer(d3.json, "/us.json")
        .defer(d3.json, "/us-congress-113.json")
        .defer(d3.json, "/district-manager-info.json")
        .await(ready);

    // bind data to visual elements
    function ready(error, us, congress, district) {
      if (error) throw error;

      map_g.append("defs").append("path")
          .attr("id", "land")
          .datum(topojson.feature(us, us.objects.land))
          .attr("d", path);

      map_g.append("clipPath")
          .attr("id", "clip-land")
        .append("use")
          .attr("xlink:href", "#land");
          
      // congressional districts
      map_g.append("g")
          .attr("class", "districts")
          .attr("clip-path", "url(#clip-land)")
          .selectAll("path")
          .data(topojson.feature(congress, congress.objects.districts).features)
      .enter().append("path")
          .attr("d", path)
          .style("fill", function (d) {
            if (district[d.id]) {
              return color(district[d.id]); }
            else {
              return "#F2F3F4"; }
          })
          .on("click", clicked)

        // show congressional district id on hover
        .append("title")
          .text(function(d) { return d.id; });

      // draw district & state boundaries
      map_g.append("path")
          .attr("class", "district-boundaries")
          .datum(topojson.mesh(congress, congress.objects.districts,
            function(a, b) { return a !== b && (a.id / 1000 | 0) === (b.id / 1000 | 0); }))
          .attr("d", path);

      map_g.append("path")
          .attr("class", "state-boundaries")
          .datum(topojson.mesh(us, us.objects.states,
            function(a, b) { return a !== b; }))
          .attr("d", path);
      
        d3.select(self.frameElement).style("height", height + "px");

      createRankChartManager();

    };


  // populate map with data showing % women employed overall by district
  function womenEmployeesData() {
  
    //draw chartjs chart
    $("#district-rank").remove();
    $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
    var ctx = $("#district-rank");
    createRankChartEmployee();
    
    var minimum = 0.33,
        maximum = 0.52;

      queue()
      .defer(d3.json, "/us.json")
      .defer(d3.json, "/us-congress-113.json")
      .defer(d3.json, "/district-employee-info.json")
      .await(ready);

  } // end womenEmployeesData

  function womenEmployeesDataReverse() {
  
    //draw chartjs chart

    $("#district-rank").remove();
    $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
    var ctx = $("#district-rank");
    createReverseChartEmployee();
    
    var minimum = 0.33,
        maximum = 0.52;

      queue()
      .defer(d3.json, "/us.json")
      .defer(d3.json, "/us-congress-113.json")
      .defer(d3.json, "/district-employee-info.json")
      .await(ready);

  } // end womenEmployeesData


  // populate map with data showing % women employed in management positions by district
  function womenManagersData() {
        
        // draw chartjs chart
        $("#district-rank").remove();
        $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
        var ctx = $("#district-rank")
        createRankChartManager();

        var minimum = 0.28,
            maximum = 0.62;

        queue()
        .defer(d3.json, "/us.json")
        .defer(d3.json, "/us-congress-113.json")
        .defer(d3.json, "/district-manager-info.json")
        .await(ready);

  } // end womenManagersData

  function womenManagersDataReverse() {

        // draw chartjs chart
        $("#district-rank").remove();
        $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");
        var ctx = $("#district-rank")
        createReverseChartManager();

        var minimum = 0.28,
            maximum = 0.62;

        queue()
        .defer(d3.json, "/us.json")
        .defer(d3.json, "/us-congress-113.json")
        .defer(d3.json, "/district-manager-info.json")
        .await(ready);
        // debugger

  } // end womenManagersData




  // create bar chart
  function createRankChartEmployee() {
      
      $("#district-rank").remove();
      $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");
      
      var ctx = $("#district-rank");

      var yearValue = $("#year").val();
      
      $.get("/chart-data-employee?year="+yearValue, function (results) {
        var data = {
          labels: results[0],
          datasets: [
          {
            data: results[1],
            backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
          }]
        };

        var districtRankChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              responsive: false,
              title: {
                  display: true,
                  text: 'Districts With Highest % Female Employees'},
              legend: {
                  display: false
              }
                }}
              );
      })
    };


  function createReverseChartEmployee() {
      
      $("#district-rank").remove();
      $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");

      var ctx = $("#district-rank");

      var yearValue = $("#year").val();
      
      $.get("/chart-data-employee-reverse?year="+yearValue, function (results) {
        var data = {
          labels: results[0],
          datasets: [
          {
            data: results[1],
            backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]            
          }]
        };

        var districtRankChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              responsive: false,
              title: {
                  display: true,
                  text: 'Districts With Lowest % Female Employees'},
              legend: {
                  display: false
              }
              }
              });
      })
    };


  function createRankChartManager() {
      
      $("#district-rank").remove();
      $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");

      var ctx = $("#district-rank");

      var yearValue = $("#year").val();
      
      $.get("/chart-data-manager?year="+yearValue, function (results) {
        var data = {
          labels: results[0],
          datasets: [
          {
            data: results[1],
            backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
          }]
        };

        var districtRankChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              responsive: false,
              title: {
                  display: true,
                  text: 'Districts With Highest % Female Employees in Management'
                },
              legend: {
                  display: false
              }}
              });
      })
    };
  
  function createReverseChartManager() {
      
      $("#district-rank").remove();
      $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");

      var ctx = $("#district-rank");

      var yearValue = $("#year").val();

      $.get("/chart-data-manager-reverse?year="+yearValue, function (results) {
        var data = {
          labels: results[0],
          datasets: [
          {
            data: results[1],
            backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
          }]
        };

        var districtRankChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
              responsive: false,
              title: {
                  display: true,
                  text: 'Districts With Lowest % Female Employees in Management'
                },
               legend: {
                  display: false
              }}
              });
      })
    };





    // change data based on button click
    ////////////////////////////////////
    // all employees button selected ///
    
    $("#allEmp").on("click", function () {        
              
              var yearValue = $("#year").val();

              queue()
              .defer(d3.json, "/us.json")
              .defer(d3.json, "/us-congress-113.json")
              .defer(d3.json, "/district-employee-info.json?year="+yearValue)
              .await(ready);

              $("#district-rank").remove();
              $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
              
              var ctx = $("#district-rank")
                
                $.get("/chart-data-employee?year="+yearValue, 
                  function (results) {
                      var data = {
                        labels: results[0],
                        datasets: [
                        {
                          data: results[1],
                          backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
                        }]
                  };

                  var districtRankChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: 'Districts With Highest % Female Employees'},
                        legend: {
                            display: false
                        }
                          }}
                        );
                })
        });
    


    $("#manager").on("click", function () {
        var yearValue = $("#year").val();

        queue()
              .defer(d3.json, "/us.json")
              .defer(d3.json, "/us-congress-113.json")
              .defer(d3.json, "/district-manager-info.json?year="+yearValue)
              .await(ready);
        
        function updateRankChartManager() {

          $("#district-rank").remove();
          $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
          
          createRankChartManager();

          }

        updateRankChartManager();

      } // end anonymous function for on manager click.
      );

      
      // bottom five employee districts selected 
      $("#bottomFiveEmp").on("click", function () {
          
          $("#district-rank").remove();
          $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
          
          var ctx = $("#district-rank")
          var yearValue = $("#year").val();

          $.get("/chart-data-employee-reverse?year="+yearValue, function (results) {
            var data = {
              labels: results[0],
              datasets: [
              {
                data: results[1],
                backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]            
              }]
            };

            var districtRankChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                  responsive: false,
                  title: {
                      display: true,
                      text: 'Districts With Lowest % Female Employees'},
                  legend: {
                      display: false
                  }
                  }
                  });
          })
        }); // end updateReverseChartEmployee


      // bottom five manager districts selected

        $("#bottomFiveManager").on("click", function () {

        // draw chartjs chart
        $("#district-rank").remove();
        $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");
        
        var ctx = $("#district-rank");

        var yearValue = $("#year").val();

        $.get("/chart-data-manager-reverse?year="+yearValue, function (results) {
            var data = {
              labels: results[0],
              datasets: [
              {
                data: results[1],
                backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
              }]
            };

            var districtRankChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                  responsive: false,
                  title: {
                      display: true,
                      text: 'Districts With Lowest % Female Employees in Management'
                    },
                   legend: {
                      display: false
                  }}
                  });
      })

      });

    
    //////////////////////
    // was the slider used?

    $("#year").on("change", function () {
        var yearValue = $("#year").val();
        var zipcode = $("#zipcode-entry").val();
        var zipOnly = $("#view-zip-compare").is(":checked");

        if (zipOnly == true && $("input[type=radio][id=allEmp]:checked").val() == "on") {
        
          $.get("/zipcode-lookup.json?year="+yearValue, {"zipcode-entry":zipcode}, ZipcodeLookup);

        } // end if statement

        else if (zipOnly == true && $("input[type=radio][id=manager]:checked").val() == "on") {

          $.get("/zipcode-lookup.json?year="+yearValue, {"zipcode-entry":zipcode}, ZipcodeLookup);


      } // end else if statement


        else if ($("input[type=radio][id=manager]:checked").val() == "on") {
  
        queue()
              .defer(d3.json, "/us.json")
              .defer(d3.json, "/us-congress-113.json")
              .defer(d3.json, "/district-manager-info.json?year="+yearValue)
              .await(ready);
        
        function updateRankChartManager() {

          $("#district-rank").remove();
          $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
          
          createRankChartManager();

          }

        updateRankChartManager();

      } // end if statement (if radio button "manager is checked")

      else if ($("input[type=radio][id=allEmp]:checked").val() == "on") {
        
        queue()
              .defer(d3.json, "/us.json")
              .defer(d3.json, "/us-congress-113.json")
              .defer(d3.json, "/district-employee-info.json?year="+yearValue)
              .await(ready);

        function updateRankChartEmployee() {

          $("#district-rank").remove();
          $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
          
          var ctx = $("#district-rank")
            
            $.get("/chart-data-employee?year="+yearValue, 
              function (results) {
                  var data = {
                    labels: results[0],
                    datasets: [
                    {
                      data: results[1],
                      backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
                    }]
              };

              var districtRankChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: false,
                    title: {
                        display: true,
                        text: 'Districts With Highest % Female Employees'},
                    legend: {
                        display: false
                    }
                      }}
                    );
            })

      }
        updateRankChartEmployee();
    }
    
    else if ($("input[type=radio][id=bottomFiveEmp]:checked").val() == "on") {

      function updateReverseChartEmployee() {
          
          $("#district-rank").remove();
          $("#graph-container").append("<canvas id='district-rank' width=550, height=500></canvas>");
          
          var ctx = $("#district-rank")
          var yearValue = $("#year").val();

          $.get("/chart-data-employee-reverse?year="+yearValue, function (results) {
            var data = {
              labels: results[0],
              datasets: [
              {
                data: results[1],
                backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
              }]
            };

            var districtRankChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                  responsive: false,
                  title: {
                      display: true,
                      text: 'Districts With Lowest % Female Employees in Management'
                    },
                   legend: {
                      display: false
                  }}
                  });
          })

          } // end updateReverseChartEmployee

          updateReverseChartEmployee();

        } // end else if radio button checked is bottomFiveEmp

    else if ($("input[type=radio][id=bottomFiveManager]:checked").val() == "on") {

      function updateReverseChartManager() {

        // draw chartjs chart
        $("#district-rank").remove();
        $("#graph-container").append("<canvas id='district-rank' width=550, height=500</canvas>");
        
        var ctx = $("#district-rank")

        $.get("/chart-data-manager-reverse?year="+yearValue, function (results) {
            var data = {
              labels: results[0],
              datasets: [
              {
                data: results[1],
                backgroundColor: ["#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#2f78c4", "#084081"]
              }]
            };

            var districtRankChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                  responsive: false,
                  title: {
                      display: true,
                      text: 'Districts With Lowest % Female Employees in Management'
                    },
                   legend: {
                      display: false
                  }}
                  });
      })

      } // end updateReverseChartManager

      updateReverseChartManager();

      } // end else if radio butoon checked is bottomFiveManager

    })

      
    </script>

  </body>
</html>